*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black-color: #231d1d;
    --white-color: #fff;
    --skin-color: #955330;
    --dark-color: #0B0C10;
    --mid-color: #1F2833;
    --light-color: #C5C6C7;
}
/* set base font size 10px as 1 rem ...default 1rem is 16px */
html{
    font-size: 10px;
}

body{
    font-family: ui-monospace, 
    Menlo, Monaco, 
    "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Monospace", 
    "Source Code Pro",
    "Fira Mono", 
    "Droid Sans Mono", 
    "Courier New", monospace;
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: var(--white-color);
    color: var(--dark-color);
    max-width: 1024px;
    margin: 0 auto;
;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0.625rem;
    color: var(--dark-color);
    font-weight: 400;
    line-height: 1.1;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.5rem;
}


/* Header */

header{
    text-align: center;
    background-color: var(--white-color);
    color: var(--dark-color);
    padding: 2rem;
    /* border: 1px solid var(--black-color); */
}

header nav ul{
    list-style-type: none;
}

header nav a{
    color: var(--dark-color);
    text-decoration: none;
}

header nav ul li{
    display: inline-block;
    margin: 0 3rem;
    font-size: 1.6rem;
}

/* About */
section{
    margin: 0px 5%;
    background-color: var(--white-color);
    color: var(--dark-color);
    padding: 2rem;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75vh;
    min-height: 500px;
}

.desc{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.desc .name{
    font-size: 15rem;
    padding: 0 2rem;
    color: var(--skin-color);
}

.desc p {
    font-size: 1.2rem;
    padding: 0rem 3rem;
    margin-bottom: 3rem;
}

.port-image{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.port-image img{
    width: 75%;
    height: 100%;
    border-radius: 50%;
}

button{
    background: transparent;
    border-radius: 3px;
    border: 2px solid var(--skin-color);
    color: var(--skin-color);
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    cursor: pointer;
}

.hello{
    padding: 2rem;
}

@media screen and (max-width: 600px){
    .flex-row{
        flex-direction: column;
    }

    .desc{
        width: 100%;
        padding: 2rem;
        border: 1px solid var(--black-color);
    }

    .port-image{
        display: none;
    }

    section{
        margin: 1rem auto;
    }
}

/* Work Section */
.subheader{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.subheader h1{
    display: inline-block;
    border-bottom: 2.5px solid var(--skin-color);
    margin: 6rem 0 2rem 0;
}

.grid-row{
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "pro1 pro1 pro2"
        "pro3 pro4 pro5"
    ;
}

#pro1{
    grid-area: pro1;
    background-image: url("../images/horiseon.png");
}

#pro2{
    grid-area: pro2;
    background-image: url("../images/psg.png");
}

#pro3{
    grid-area: pro3;
    background-image: url("../images/apptv.png");
}
#pro4{
    grid-area: pro4;
    background-image: url("../images/spotmusic.png");
}
#pro5{
    grid-area: pro5;
    background-image: url("../images/bbox.png");
}

.card-column{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    position: relative;
}

.card-column h3{
    width: 100%;
    font-size: large;
    padding: 1rem 2rem;
    margin-bottom: -5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--white-color);
    text-transform: lowercase;
}

.card-column .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

@media screen and (max-width: 600px) {
    .grid-row{
        grid-template-rows: repeat(5, 250px);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "pro1"
        "pro2"
        "pro3"
        "pro4"
        "pro5"
        ;
    }
}


/* Contact */
.contact-row{
    display: flex;
    justify-content: space-between;
}

.contact-form{
    width: 45%;  
}

.contact-form button{
    width: 100%;
    margin: 0 auto;
}

input[type=text], input[type=email], textarea {
    width: 100%; 
    padding: 1rem; 
    border: 1px solid var(--skin-color); 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 0.6rem; 
    margin-bottom: 1.2rem;
    resize: vertical;
  }

  .contact-info{
    width: 45%;
  }

  .contact-list {
    list-style-type: none;
    padding-right: 2rem;
    margin-bottom: 2rem;
  }
  
  .list-item {
    line-height: 4;
    color: var(--skin-color)
  }
  
  .contact-text {
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    color: var(--dark-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: var(--dark-color);
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: var(--skin-color);
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-left: -5rem;
    padding: 0;
  }
  
  .social-media-list li a {
    color: var(--white-color);
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: var(--light-color);
    background-color: rgb(27,27,27);
    cursor: pointer; 
  }

  @media screen and (max-width: 600px) {
    .contact-row{
        flex-direction: column;
    }

    .contact-form, .contact-info{
        width: 96%;
        margin-bottom: 2rem;
    }
  }
  
footer{
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
    opacity: .5;
}